<div class="private-clients-banner {{modifier}}">
	<div class="private-clients-banner__bg">
		<picture>
			<source media="(max-width: 767px)" srcset="./img/{{bgPrefix}}-banner-bg-mob.jpg">
			<img src="./img/{{bgPrefix}}-banner-bg.jpg" alt="">
		</picture>
	</div>
	<div class="private-clients-banner__wrap {{wrapModifier}}">
		<h1 class="private-clients-banner__title {{titleModifier}}">
			{{title}}
		</h1>
	</div>
</div>